resources/**
node_modules
discord-example-app/
**.sw[a-zA-Z]
*.js
node_modules/**
config.ts
.prettierrc
.eslintrc
secrets.json
result*
.npmrc

./src/external_gleam/*.beam
./src/external_gleam/*.ez
./src/external_gleam/build
./src/external_gleam/erl_crash.dump
